@(ds1820s: List[DS1820])(implicit flash: play.api.mvc.Flash)

@main("Beagle Beer", "Home") {

  <div style="width: 300px">
    <table>
      <tr>
        <td><span id="startLogger" class="btn">Start Logging</span></td>
        <td><span id="stopLogger" class="btn">Stop Logging</span></td>
      </tr>
    </table>
  </div>

  <div id="gauges">
  @for(ds1820 <- ds1820s) {
    <span id="gauge@ds1820.id" title="@ds1820.name"></span>
  }
  </div>

}

  <script type="text/javascript">

    var startLoggerUrl = "@routes.Logger.start"
    var stopLoggerUrl = "@routes.Logger.stop"
    var latestValueUrl = "@routes.Logger.latest"
    var isRunningUrl = "@routes.Logger.isRunning"
  </script>

  <script src="@routes.Assets.at("javascripts/index.js")"></script>



