[Unit]
Description=Load the no-cape-w1 device tree
After=syslog.target 

[Service]
Type=simple
ExecStart=/opt/no-cape-w1.sh

[Install]
WantedBy=multi-user.target
